<div style="padding-top: 70px;">
  <footer class="fixed-bottom border-top bg-white">
  <div class="container">
    <div class="row py-3">
      <h5 class="mx-auto">ながのCAKE</h5>
    </div>
  </div>
</footer>
</div>